/* .management-table {
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); 
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */


.management-table {
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 12px;
    backdrop-filter: blur(12px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.management-table .table-options {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: space-between;
}

.table-container {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.loading-blur {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.table-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}