

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding-bottom: 300px;
    padding-top: 300px;
}

.container h1 {
    color: #fff;
    font-weight: bold;
    font-size: 5rem;
    margin: 0.5rem 0;
}

.container .logo {
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.navigation {
    display: flex;
    gap: 1rem;
    border: 2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.navigation a {
    background: #007BFF;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    padding: 20px 50px;
    flex: 1;
    transition: background-color 0.3s, transform 0.3s;
}

.navigation :hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.container h2 {
    opacity: 0.4;
    color: #fff;
}

.contact {
    margin-top: 10px;
    background: #000;
    border-radius: 10px;
    padding: 1%;
    opacity: 75%;
}

.contact .paragraph {
    color: #fff;
}

.contact .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

.contact .footer a:hover {
    color:#fff;
    transition:0.5s;
    transform: scale(1.5);
}

.contact .footer a {
    padding: 5px 8px;
    border-radius: 3px;
    margin: auto;
    color: #fff;
}

.twitter {
    background:#1DA1F2;
}

.google {
    background:#d9432f;
}

.instagram {
    background:#833AB4;
   
}

.facebook {
    background-color:#316FF6;
}


@media (max-width: 768px) {
    .container h1 {
        font-size: 3rem;
    }

    .navigation {
        margin: 10px;
    }

    .navigation .a {
        padding: 5px 
    }
}

