.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}

.logo-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;
}

.logo-section img {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.logo-section h2 {
    font-size: 2.2rem;
    color: #2c3e50;
}

.form-section {
    flex: 1;
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-section .logo-inside {
    display: none;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
   font-size: 1.8rem;
   color: #2c3e50;
   margin-bottom: 20px;
}

.form-wrap form {
    width: 50%;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}
  

.input-container input {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
}

.input-container input:focus {
    border-color: #007bff;
    outline: none;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 1rem;
    transform: 0.5s;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    position: absolute;
    top: -2px;
    left: 10px;
    font-size: 0.8rem;
    padding: 1px;
    background: #fff;
    transition: .3s ease all;
}

div .input-error {
    border: 1px solid red;
}

div .credentials {
    text-align: center;
    margin-bottom: 10px;
    color: #D12324;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #0056b3;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
  }


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    
    h2 {
        display: none;
    }
    .logo-section {
        display: none;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    } 

    .form-section .logo-inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .form-section .logo-inside img {
        max-width: 100%;
        height: auto;
    }
    
    .form-wrap {  
        width: 100%;
        max-width: 400px;
    }

    form {
        width: 100%;
        padding: 20px;
    }

    .input-container {
        width: 100%;
        margin-bottom: 20px;
    }



} 

