.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home .card {
    background: #000;
    opacity: 75%;
    border-radius: 10px;
    padding: 70px 30px;
    text-align: center;
}

.home .card h2, .home .card h3 {
    color: #fff;
    font-size: 2rem;
}

.home .card h2 {
    text-transform: uppercase;
}

