#side-menu {
    height: 100%;
    width: 250px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    
}

.side-menu-image {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu-image img {
    height: 80px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 1));
}

.side-menu-list {
    flex: 1;
    max-height: calc(100vh - 200px);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto; 
}

.side-menu-list .list {
    display: flex;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.3s ease, transform 0.2s ease;
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    color: #000;
}

.side-menu-list .list:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.side-menu-list .list .side-menu-icon {
    flex: 50%;
    display: grid;
    place-items: center;
}

.side-menu-list .list .side-menu-title {
    flex: 70%;
    margin-left: -25px;
}

.logout-container {
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);  */
}

.logout-button {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout-button:hover {
    background: rgba(255, 255, 255, 0.25);
}

@media (max-width: 768px) {
    #side-menu {
        width: 100%;
    }

    .logout-button {
        font-size: 0.9rem; 
    }
}